*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
   
    background-color: rgba(0, 0, 71, 0.575);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    // margin: 10px;
//
// color: white;    
padding-bottom: 30px;
    .nav-bar{
        background-color: rgba(61, 0, 97, 0.842);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 25px;
        height: 75px;
    }
    .nav-div{
       display: flex;
       align-items: center;
       justify-content: space-between;
       
    }
    .li-1 :hover{
        background-color: rgb(111, 0, 255);
        border-radius: 10px;
        padding: 10px;
    }
    .logo a{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 45px;
        font-weight: bolder;
        color: rgb(24, 44, 42)
    }
    .li-1{
        list-style: none;
        display: inline-block;
       
    }
    li a{
        color: white;
        font-size: 25px;
        font-weight: bold;
        margin-right: 25px;
    }
    .main-section{
       
        display: flex;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        padding: 25px;
    }
    .ptag{
        text-align: center;
        text-decoration: underline 3px solid blue;
        font-size: 40px;
    }
    .ptag-1{
        font-size: 90px;
        font-weight: 500px;

    }
    .ptag-2{
        font-size: 35px;
        font-weight: bold;
        padding-top: 40px;
    }
    .section-2{
        padding: 25px;
        font-size: 20px;
        font-weight: bold;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        display: flex;
    }
    .span1{
        padding: 30px;
    }
    .span2{
        padding: 30px;
    }
    .span3{
        padding: 30px;
    }
    .Lm-btn{
        background-color:  rgb(111, 0, 255);
        
        font-size: 25px;
        border-radius: 6px;
        font-weight: bold;
        padding: 10px;
    }
    .sect3{
        display: block;
    }
    .div-span{
        background-color:  rgb(111, 0, 255);
        margin: 25px;
        padding: 15px;
        font-size: 30px;
        font-weight: bold;
        border-radius: 15px;
    }
    .dp-div{
        margin-top: 55px;
        margin-right: 9px;
        font-size: 25px;
        font-weight: bold;
        padding: 40px;
        background-color: rgba(61, 0, 97, 0.842);
        border-radius: 7px;
    }
    .cj-div{
        margin-top: 55px;
        margin-left: 10px;
        margin-right: 10px;
        font-size: 25px;
        font-weight: bold;
        padding: 30px;
        background-color: rgba(61, 0, 97, 0.842);
        
        border-radius: 7px;
    }
    .dp-div2{
        margin-top: 55px;
        margin-left: 9px;
        font-size: 25px;
        font-weight: bold;
        padding: 30px;
        background-color: rgba(61, 0, 97, 0.842);
         border-radius: 7px;

    }
    .foot-sect{
        text-align: center;
    }
    .soc-p{
        padding: 15px;
        font-size: 30px;
        font-weight: bold;
    }
    footer{
        display: flex;
        justify-content: space-between;
        padding: 15px;
    }
    
    .foot-div{
        font-size: 30px;
    }
   
    
   
}